<template>
    <!-- Site Footer-->
    <footer class="rn-footer">

        <!-- Footer Widgets-->
        <div class="rn-footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <!-- Widget Item-->
                        <section class="rn-widget">
                            <h2 class="rn-widget-title">About Us</h2>
                            <div class="rn-widget-content">
                                <a class="brand-name" href="index-2.html">
                                    <img src="assets/images/logo.svg" alt="Logo">
                                </a>
                                <p>Sed sit amet ligula ac nulla finibus euismod nec nec diam. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Praesent semper, risus eget ornare maximus, ipsum ante
                                    semper.</p>
                                <ul class="rn-widget-social">
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!-- End Widget Item-->

                    </div>
                    <div class="col-md-5">

                        <!-- Widget Item-->
                        <section class="rn-widget">
                            <h2 class="rn-widget-title">Quick Links</h2>
                            <div class="rn-widget-content">
                                <div class="row rn-quick-links">
                                    <div class="col-6">
                                        <ul>
                                            <li>
                                                <a href="#">About Us</a>
                                            </li>
                                            <li>
                                                <a href="#">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="#">Support</a>
                                            </li>
                                            <li>
                                                <a href="#">View Booking</a>
                                            </li>
                                            <li>
                                                <a href="#">Affiliate Programme</a>
                                            </li>
                                            <li>
                                                <a href="#">Marketplace</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li>
                                                <a href="#">Site Map</a>
                                            </li>
                                            <li>
                                                <a href="#">Careers</a>
                                            </li>
                                            <li>
                                                <a href="#">Press</a>
                                            </li>
                                            <li>
                                                <a href="#">Get a Receipt</a>
                                            </li>
                                            <li>
                                                <a href="#">Community</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Widget Item-->

                    </div>
                    <div class="col-md-3">

                        <!-- Widget Item-->
                        <section class="rn-widget">
                            <h2 class="rn-widget-title">Contact Us</h2>
                            <div class="rn-widget-content">
                                <div class="rn-icon-contents">
                                    <div class="rn-phone rn-icon-content">
                                        <div class="rn-icon">
                                            <i class="lnr lnr-phone"></i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li>(954)-944-1250</li>
                                                <li>(954)-944-1251</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="rn-email rn-icon-content">
                                        <div class="rn-icon">
                                            <i class="lnr lnr-envelope"></i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li>support@example.coms</li>
                                                <li>sale@example.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="rn-address rn-icon-content">
                                        <div class="rn-icon">
                                            <i class="lnr lnr-map-marker"></i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li>1425 Pointe Lane, Miami</li>
                                                <li>Florida – 33169, USA</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Widget Item-->

                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Widgets-->

        <!-- Footer Copyright-->
        <div class="rn-footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <p>Copyright &copy; RentNow 2018. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <span class="rn-pyament-methods">
                            <span>We Accept</span>
                            <img src="@/assets/images/payments.png" alt="payments">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Copyright-->

        <!-- <script src="@/assets/js/jquery.min.js"></script>
        <script src="@/assets/js/popper.min.js"></script>
        <script src="@/assets/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="@/assets/libs/flatpickr/flatpickr.min.js"></script>
        <script src="@/assets/js/starrr.min.js"></script>
        <script src="@/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="@/assets/js/scripts.js"></script> -->
    </footer>
    <!-- End Site Footer-->
</template>