<template>
    <!-- Header-->
    <header class="rn-header">

        <!-- Topbar-->
        <div class="rn-topbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-5 col-lg-3">

                        <!-- Tobar Social-->
                        <ul class="rn-social">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-12 col-sm-7 col-lg-9">

                        <!-- Topbar Contact with Icon-->
                        <div class="rn-icon-contents">
                            <div class="rn-phone rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-phone"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li>(954)-944-1250</li>
                                        <li>(954)-944-1251</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rn-email rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-envelope"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li>support@example.coms</li>
                                        <li>sale@example.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rn-address rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-map-marker"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li>1425 Pointe Lane, Miami</li>
                                        <li>Florida – 33169, USA</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar-->


        <!-- Menubar-->
        <div class="rn-menubar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <!-- Logo-->
                        <a class="brand-name" href="#">
                            <img class="img-fluid" style="width: 60% !important;" src="@/assets/images/logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="col-8">
                        <nav class="rn-navbar-container">

                            <!-- Navbar Toggle Button for Only Tablet and Phone-->
                            <button class="rn-navbar-toggler" id="rn-navbar-toggler">
                                <span class="rn-navbar-toggler-bar"></span>
                                <span class="rn-navbar-toggler-bar"></span>
                                <span class="rn-navbar-toggler-bar"></span>
                            </button>

                            <!-- Main Nav Menu-->
                            <ul class="rn-navbar">
                                <li class="active">
                                    <router-link :to="{ name: 'home' }">Home</router-link>
                                </li>
                                <li>
                                    <a href="#">Cars
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="cars.html">Car List</a>
                                        </li>
                                        <li>
                                            <a href="car-search.html">Car Search</a>
                                        </li>
                                        <li>
                                            <a href="car-single.html">Car Single</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html">Checkout</a>
                                        </li>
                                        <li>
                                            <a href="cart.html">Cart</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="about.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="fullwidth.html">Fullwidth Page</a>
                                        </li>
                                        <li>
                                            <a href="right-sidebar.html">Right Sidebar Page</a>
                                        </li>
                                        <li>
                                            <a href="left-sidebar.html">Left Sidebar Page</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="404.html">404 Error</a>
                                        </li>
                                        <li>
                                            <a href="#">Gallery
                                                <i class="lnr lnr-chevron-right"></i>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="gallery-col-2.html">2 Columns</a>
                                                </li>
                                                <li>
                                                    <a href="gallery-col-3.html">3 Columns</a>
                                                </li>
                                                <li>
                                                    <a href="gallery-col-4.html">4 Columns</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <router-link :to="{ name: 'service' }">Service</router-link>
                                </li>
                                <li>
                                    <a href="#">Blog
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="blog.html">Blog List</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid.html">Blog Grid</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid-sidebar.html">Blog Grid - Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-single.html">Single Post</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Menubar-->

    </header>
    <!-- End Header-->
</template>