<template>
    <div id="sign-in">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form>
            <h3>Sign In</h3>

            <label for="username">Email</label>
            <input type="text" placeholder="Email" v-model="login.email" id="email">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" v-model="login.password" id="password">

            <button type="submit" @click="postLogin()">Log In</button>
            <div class="social">
                <div class="go"><router-link :to="{ name: 'register' }">Sign Up</router-link></div>
            </div>
        </form>
    </div>
</template>
<script>
import Swal from 'sweetalert2';
import axios from 'axios';

export default {
    name: 'AppSignIn',
    data() {
        return {
            msg: 'Hồ Thân Chính login',
            login: {
                email: '',
                password: ''
            }
        }
    },

    mounted() {
    },

    methods: {
        postLogin() {
            axios
                .post('http://localhost:8086/car-ecommerce/api/auth/login', {
                    "email": this.login.email,
                    "password": this.login.password
                })
                .then(response => {
                    const resp = response.data;
                    if (resp == null) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Đăng nhập không thành công',
                            timer: 1500,
                            showConfirmButton: false
                        })
                        return;
                    }

                    if (resp.responseStatus.respCode == '00') {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Đăng nhập thành công',
                            timer: 1500,
                            showConfirmButton: false
                        })

                        localStorage.setItem("isLogin", true)
                        this.$router.push('/')
                        return;
                    }
                    else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Đăng nhập thất bại',
                            timer: 1500,
                            showConfirmButton: false
                        })
                        return;
                    }
                })
                .catch(err => console.log(err));
        },
    }

}

</script>



<style>
/* body {
    background-color: #080710 !important;
} */

#sign-in {
    height: 950px;
    background-color: #080710 !important;
}

#sign-in .background {
    width: 430px !important;
    height: 520px !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
}

#sign-in .background .shape {
    height: 200px !important;
    width: 200px !important;
    position: absolute !important;
    border-radius: 50% !important;
}

#sign-in .shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6) !important;
    left: -80px !important;
    top: -80px !important;
}

#sign-in .shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819) !important;
    right: -30px !important;
    bottom: -80px !important;
}

#sign-in form {
    height: 520px !important;
    width: 400px !important;
    background-color: rgba(255, 255, 255, 0.13) !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    border-radius: 10px !important;
    backdrop-filter: blur(10px) !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6) !important;
    padding: 50px 35px !important;
}

#sign-in form * {
    font-family: Tahoma !important;
    color: #ffffff !important;
    letter-spacing: 0.5px !important;
    outline: none !important;
    border: none !important;
}

#sign-in form h3 {
    font-size: 32px !important;
    font-weight: 500 !important;
    line-height: 42px !important;
    text-align: center !important;
}

#sign-in label {
    display: block !important;
    margin-top: 30px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

#sign-in input {
    display: block !important;
    height: 50px !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.07) !important;
    border-radius: 3px !important;
    padding: 0 10px !important;
    margin-top: 8px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}

#sign-in ::placeholder {
    color: #e5e5e5 !important;
}

#sign-in button {
    margin-top: 50px !important;
    width: 100% !important;
    background-color: #ffffff !important;
    color: #080710 !important;
    padding: 15px 0 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

#sign-in .social {
    margin-top: 30px !important;
    display: flex !important;
    justify-content: center;
}

#sign-in .social div {
    cursor: pointer;
    background: red !important;
    width: 150px !important;
    border-radius: 3px !important;
    padding: 5px 10px 10px 5px !important;
    background-color: rgba(255, 255, 255, 0.27) !important;
    color: #eaf0fb !important;
    text-align: center !important;
}

#sign-in .social div:hover {
    background-color: rgba(255, 255, 255, 0.47) !important;
}
</style>