<template>
    <div id="register">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form>
            <h3>Sign Up</h3>

            <label for="username">Fullname</label>
            <input type="text" placeholder="Fullname" v-model="register.fullName" id="fullname">

            <label for="username">Email</label>
            <input type="text" placeholder="Email" v-model="register.email" id="email">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" v-model="register.password" id="password">

            <label for="password">Confirm Password</label>
            <input type="password" placeholder="Confirm Password" v-model="register.confirm" id="confirm">

            <button type="submit" @click="postResgister()">Sign Up</button>
            <div class="social">
                <div class="go"><router-link :to="{ name: 'login' }">Sign In</router-link></div>
            </div>
        </form>
    </div>
</template>
<script>
import Swal from 'sweetalert2';
import axios from 'axios';

export default {
    name: 'AppSignUp',
    data() {
        return {
            msg: 'Hồ Thân Chính login',
            register: {
                fullName: '',
                email: '',
                password: '',
                confirm: ''
            }
        }
    },

    mounted() {
    },

    methods: {
        postResgister() {
            axios
                .post('http://localhost:8086/car-ecommerce/api/auth/register', {
                    "fullName": this.register.fullName,
                    "email": this.register.email,
                    "password": this.register.password
                })
                .then(response => {
                    const resp = response.data;
                    if (resp == null) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Đăng ký không thành công',
                            timer: 1500,
                            showConfirmButton: false
                        })
                        return;
                    }

                    if (resp.responseStatus.respCode == '00') {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Đăng ký thành công',
                            timer: 1500,
                            showConfirmButton: false
                        })

                        this.$router.push('/login')
                        return;
                    }
                    else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: resp.responseStatus.resp,
                            timer: 1500,
                            showConfirmButton: false
                        })
                        return;
                    }
                })
                .catch(err => {
                    console.log(err);
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Đăng ký thất bại',
                        timer: 1500,
                        showConfirmButton: false
                    })
                    return;
                });
        },
    }
}
</script>

<style>
/* body {
    background-color: #080710 !important;
} */

#register {
    height: 950px;
    background-color: #080710 !important;
}

#register .background {
    width: 430px !important;
    height: 520px !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
}

#register .background .shape {
    height: 200px !important;
    width: 200px !important;
    position: absolute !important;
    border-radius: 50% !important;
}

#register .shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6) !important;
    left: -80px !important;
    top: -200px !important;
}

#register .shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819) !important;
    right: -80px !important;
    bottom: -200px !important;
}

#register form {
    height: 780px !important;
    width: 400px !important;
    background-color: rgba(255, 255, 255, 0.13) !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    border-radius: 10px !important;
    backdrop-filter: blur(10px) !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6) !important;
    padding: 50px 35px !important;
}

#register form * {
    font-family: Tahoma !important;
    color: #ffffff !important;
    letter-spacing: 0.5px !important;
    outline: none !important;
    border: none !important;
}

#register form h3 {
    font-size: 32px !important;
    font-weight: 500 !important;
    line-height: 42px !important;
    text-align: center !important;
}

#register label {
    display: block !important;
    margin-top: 30px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

#register input {
    display: block !important;
    height: 50px !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.07) !important;
    border-radius: 3px !important;
    padding: 0 10px !important;
    margin-top: 8px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}

#register ::placeholder {
    color: #e5e5e5 !important;
}

#register button {
    margin-top: 50px !important;
    width: 100% !important;
    background-color: #ffffff !important;
    color: #080710 !important;
    padding: 15px 0 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

#register .social {
    margin-top: 30px !important;
    display: flex !important;
    justify-content: center;
}

#register .social div {
    cursor: pointer;
    background: red !important;
    width: 150px !important;
    border-radius: 3px !important;
    padding: 5px 10px 10px 5px !important;
    background-color: rgba(255, 255, 255, 0.27) !important;
    color: #eaf0fb !important;
    text-align: center !important;
}

#register .social div:hover {
    background-color: rgba(255, 255, 255, 0.47) !important;
}
</style>