<template>
    <!-- Page Title-->
    <div class="rn-page-title">
        <div class="rn-pt-overlayer"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rn-page-title-inner">
                        <h1>Service</h1>
                        <p>Cras eros lorem, rhoncus ac risus sit amet, fringilla ultrices purus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title-->

    <!-- What We Offer-->
    <section class="rn-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Section Title-->
                    <div class="rn-section-title   ">
                        <h2 class="rn-title">What We Offer</h2>
                        <p>Inbecilloque elegans errorem concedo etsi electram.</p>
                        <span class="rn-title-bg">What We Offer</span>
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6" v-for="item in   services  " :key="item.id">

                    <!-- Service Item-->
                    <div class="rn-service-item">
                        <div class="rn-service-icon">
                            <i :class="`${item.icon}`"></i>
                        </div>
                        <div class="rn-service-title">{{ item.title }}</div>
                        <div class="rn-service-desc">
                            <p>{{ item.summary }}</p>
                        </div>
                    </div>
                    <!-- End Service Item-->

                </div>

            </div>
        </div>
    </section>
    <!-- End What We Offer-->

    <!-- Call To Action-->
    <section class="rn-section rn-service-c2a">
        <div class="rn-section-overlayer"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Are you looking for renting your car?</h2>
                    <p>Fusce blandit at tortor vitae ultricies. Praesent efficitur feugiat leo id tempus.</p>
                    <a class="btn btn-main btn-lg btn-shadow" href="#">Contact US</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call To Action-->

    <!-- Clients-->
    <section class="rn-section rn-section-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Section Title-->
                    <div class="rn-section-title   ">
                        <h2 class="rn-title">What Our Client Say</h2>
                        <p>Inbecilloque elegans errorem concedo etsi electram.</p>
                        <span class="rn-title-bg">Client Review</span>
                    </div>

                    <div class="rn-testimonials">
                        <div class="rn-testimonials-carousel carousel slide" id="rn-testimonials" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">

                                    <!-- Testimonial Item-->
                                    <blockquote class="rn-testimonial-item">
                                        <div class="rn-testimonial-author">
                                            <div class="rn-testimonial-author-thumb">
                                                <img src="assets/images/author-1.jpg" alt="John Doe"
                                                    srcset="assets/images/author-1.jpg 1x, assets/images/author-1@2x.jpg 2x" />
                                            </div>
                                            <div class="rn-testimonial-author-info"><strong>Katherine Powell</strong>
                                                <p>CEO, Example Inc.</p>
                                            </div>
                                        </div>
                                        <p>Curabitur neque turpis, pellentesque vel semper ut, tempor vel arcu. Nulla
                                            facilisi. Phasellus feugiat nunc eget eros varius, et mollis magna elementum.
                                        </p>
                                        <footer>
                                            <div class="rn-testimonial-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </footer>
                                    </blockquote>
                                    <!-- End Testimonial Item-->

                                </div>
                                <div class="carousel-item">

                                    <!-- Testimonial Item-->
                                    <blockquote class="rn-testimonial-item">
                                        <div class="rn-testimonial-author">
                                            <div class="rn-testimonial-author-thumb">
                                                <img src="assets/images/author-2.jpg" alt="John Doe"
                                                    srcset="assets/images/author-2.jpg 1x, assets/images/author-2@2x.jpg 2x" />
                                            </div>
                                            <div class="rn-testimonial-author-info"><strong>Patrick Cox</strong>
                                                <p>CEO, Example Inc.</p>
                                            </div>
                                        </div>
                                        <p>Curabitur neque turpis, pellentesque vel semper ut, tempor vel arcu. Nulla
                                            facilisi. Phasellus feugiat nunc eget eros varius, et mollis magna elementum.
                                        </p>
                                        <footer>
                                            <div class="rn-testimonial-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </footer>
                                    </blockquote>
                                    <!-- End Testimonial Item-->

                                </div>
                                <div class="carousel-item">

                                    <!-- Testimonial Item-->
                                    <blockquote class="rn-testimonial-item">
                                        <div class="rn-testimonial-author">
                                            <div class="rn-testimonial-author-thumb">
                                                <img src="assets/images/author-3.jpg" alt="John Doe"
                                                    srcset="assets/images/author-3.jpg 1x, assets/images/author-3@2x.jpg 2x" />
                                            </div>
                                            <div class="rn-testimonial-author-info"><strong>Lauren Anderson</strong>
                                                <p>CEO, Example Inc.</p>
                                            </div>
                                        </div>
                                        <p>Curabitur neque turpis, pellentesque vel semper ut, tempor vel arcu. Nulla
                                            facilisi. Phasellus feugiat nunc eget eros varius, et mollis magna elementum.
                                        </p>
                                        <footer>
                                            <div class="rn-testimonial-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </footer>
                                    </blockquote>
                                    <!-- End Testimonial Item-->

                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#rn-testimonials" role="button" data-slide="prev">
                                <i class="fas fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a class="carousel-control-next" href="#rn-testimonials" role="button" data-slide="next">
                                <i class="fas fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Clients-->
</template>
<script>
import Swal from 'sweetalert2';
import axios from 'axios';

export default {
    name: 'AppSignIn',
    data() {
        return {
            msg: 'Hồ Thân Chính login',
            services: []
        }
    },

    mounted() {
        this.getAllService();
    },

    methods: {
        getAllService() {
            axios
                .get('http://localhost:8086/car-ecommerce/api/sevice/get-all')
                .then(response => {
                    const resp = response.data;
                    if (resp == null) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Thực hiện không thành công',
                            timer: 1500,
                            showConfirmButton: false
                        })
                        return;
                    }

                    if (resp.responseStatus.respCode == '00') {

                        this.services = resp.data;
                        return;
                    }
                    else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Thực hiện không thành công',
                            timer: 1500,
                            showConfirmButton: false
                        })
                        return;
                    }
                })
                .catch(err => {
                    console.log(err);
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Thực hiện không thành công',
                        timer: 1500,
                        showConfirmButton: false
                    })
                });
        },
    }

}

</script>
