<template>
  <!-- <router-link :to="{ name: 'home' }">Home</router-link>
  <router-link :to="{ name: 'about' }">About</router-link> -->
  <router-view></router-view>
</template>

<script>

// import '@/assets/js/jquery.min';
// import '@/assets/js/popper.min';
// import '@/assets/libs/bootstrap/js/bootstrap.min';
// import '@/assets/libs/flatpickr/flatpickr.min';
// import '@/assets/js/starrr.min';
// import '@/assets/js/jquery.magnific-popup.min';
// import '@/assets/js/scripts';

export default {
  name: "App",
  components: {},
};
</script>
